* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    color: #000000;
    font-family: "Inter";
}
body {
    background-color: #141414;
}
.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card {
    background-color: #1f1f1f;
    width: 30rem;
    padding: 20px;
    border-radius: 20px;
}
.img {
  display: flex;
  justify-content: center;
  padding: 20px 0px 25px 0px;
}
img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}
.textone {
    text-align: center;
    margin-bottom: 30px;
}
h1 {
    font-size: 30px;
    color: #d7d7d7;
    margin-bottom: 10px;
    font-weight: 600;
}
.textone p {
    color: #c1ee32;
    font-size: 17px;
    font-weight: bold;
}
.text2 {
    text-align: center;
}
.text2 p {
    color: #c4c4c4;
    font-size: 18px;
    margin-bottom: 27px;
}
h6 {
    background-color: #333333;
    margin: 0px auto 27px auto  ;
    width: 24rem;
    font-size: 20px;
    border-radius: 10px;
    padding: 20px;
    color: #d7d7d7;
}
h6:hover {
    background-color: #c4f82a;
    color: black;
    cursor: pointer;
}